html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1010;
}

 
 
 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px;
   background-color: #00B6FF;
 }
 
 .nav-items{
   list-style-type: none;
 }
 
 .nav-items li{
   font-size: 20px;
   display: inline-block;
   margin-right: 25px;
 }
 
 nav img {
   margin-left: 15px;
   max-width: 100%;
   height: 40px;
 }
 
 header{
   justify-content: center;
   background-color:#0034FF26;
 }
 
 header h1{
   text-align: center;
   margin: 0 auto;
   padding-top: 10px;
 }
 
 header h4{
   text-align: center;
   max-width:1000px;
   margin: 0 auto;
   margin-bottom: 10px;
 }
 
 header img{
   width: 100%;
   height: 400px;
   margin-bottom: 5px;
 }
 
 .circle{
   width: 100px;
   height: 120px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .stakeholder {
   display: flex;
   background-color: #0034FF26;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 20px;
 }
 
 .card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FFFFFF;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 150px;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-left: 30%;
   margin-right: 30%;
 }
 
 .card {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #0198C5;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 150px;
   margin-top: 60px;
   margin-bottom: 20px;
 }

 .logo {
   width: 65px;
   height: 70px;
   transform: translateY(-120px);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 10px;
 }
 
 .pict {
   width: 150px;
   height: 150px;
   transform: translateY(0px);
   margin-bottom: -90px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
.stakeholder-text{
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
   margin-bottom: -10px;
 }
 
 .facilities {
   display: flex;
   background-color: #0034FF26;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 20px;
 }
 
 #title{
   text-align: center;
   margin-left: 30%;
   margin-right: 30%;
 }
 
 .facilities-card{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FFFFFF;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 130px;
   margin-top: 30px;
   margin-bottom: 10px;
   text-align: center;
 }
 
 .circle {
   width: 100px;
   height: 100px;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 10px;
   border-radius: 50%;
 }
 
 .facilities-text {
   margin-top: -5px;
   margin-bottom: -20px;
   text-align: center;
 }
 
  .achievements {
    display: flex;
    background-color: #0034FF26;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
  }
 
 .pict-achievements{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
 .card-achievements {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   background-color: #FFFFFF;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width:42%;
   margin-top: 30px;
   margin-bottom: 10px;
   text-align: justify;
 }
 
  #right {
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   padding: 20px;
   margin-left: -5px;
 }

 #left {
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   padding: 20px;
   margin-right: -5px;
 }
 
 #pict-right {
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   padding: 20px;
 }
 
 #pict-left {
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   padding: 20px;
 }
 
 #test{
   text-align: center;
   margin: 0 auto;
   margin-bottom: 20px;
 }
 
 form {
   display: flex;
   flex-direction: column;
   max-width: 300px;
   margin: 0 auto;
  }
  
  input,
  select,
  textarea {
   margin-bottom: 10px;
  }
  
  button {
   align-self: center;
   background-color: blue;
   color: white;
   cursor: pointer;
  }
 
 
 
 
 @media only screen and (max-width: 600px) {
   nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:0px;
 }
 
 .nav-items{
   list-style-type: none;
 }
 
 .nav-items li{
   font-size: 10px;
   display: inline;
   margin-right: 15px;
 }
 
 nav img {
   margin-left: 10px;
   max-width: 100%;
   height: 35px;
 }
 
 
 header h1 {
   text-align: left;
  }
 
 header h4{
   text-align: justify;

   font-size: 12px;
 }
 
 header img{
   width: 100%;
   height: 150px;
 }
}
