html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, sans-serif;
    background-color:#0034FF26;
    justify-content: center;
    text-anchor: center;
}

body.no-scroll {
    overflow: hidden;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1010;
}
 
 nav {
   display: flex;
   position: fixed;
   width: 100%;
   z-index: 9999;
   justify-content: space-between;
   align-items: center;
   transform: translateX(-20px);
   top : 0px;
   padding : 20px;
   background-color: #00B6FF;
 }
 
 .nav-items{
   list-style-type: none;
 }
 
 .nav-items li{
   font-size: 25px;
   display: inline-block;
   margin-right: 25px;
   transform: translateX(-20px);
 }
 
 .nav-items li a{
   text-decoration: none;
   color: #FFFFFF;
   transition: all;
   transition-duration: 300ms;
 }
 
 .nav-items li a:hover{
   color: #FFCC2E;
   background-color: #6C58FF;
   padding: 20px;
   border-radius: 50px;
 }
 
 nav img {
   margin-left: 5px;
   max-width: 100%;
   height: 90px;
 }
 
 header{
   text-align: center;
   margin: 0 auto;
 }
 
 header h1{
   margin-top: 120px;
   font-size: 50px;
   padding-top: 10px;
 }
 
 header h4{
   margin-top: -20px;
   margin-bottom: 30px;
 }
 
 header img{
   border-radius: 50px;
   width: 100%;
   height: 400px;
   margin-bottom: 5px;
 }
 
 .setup {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 20px;
 }
 
 .circle{
   width: 100px;
   height: 120px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 #headmaster {
   background-color: #FFFFFF;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-left: 30%;
   margin-right: 30%;
 }
 
 .card {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #0198C5;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 150px;
   margin-top: 60px;
   margin-bottom: 20px;
 }

 .logo {
   width: 65px;
   height: 70px;
   transform: translateY(-120px);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 10px;
 }
 
 #pict {
   width: 150px;
   height: 150px;
   margin-bottom: -90px;
   transform: translateY(0px);
 }
 
.stakeholder-text{
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
   margin-bottom: -10px;
 }
 
 #bab{
   font-size: 30px;
   color: #FFCC2E;
   background-color: #6C58FF;
   padding: 20px;
   border-radius: 50px;
   text-align: center;
   margin-left: 30%;
   margin-right: 30%;
 }
 
 #facilities{
   background-color: #FFFFFF;
   width: 130px;
   margin-top: 30px;
   margin-bottom: 10px;
   text-align: center;
 }
 
 #circle {
   width: 100px;
   height: 100px;
   transform: translateY(0px);
   margin-bottom: 10px;
   border-radius: 50%;
 }
 
 .facilities-text {
   margin-top: -5px;
   margin-bottom: -20px;
 }
 
 #pict-achievements{
    width: 100%;
    height: 150px;
    transform: translateY(0px);
  }
  
 #card-achievements-right {
   background-color: #FFFFFF;
   width:42%;
   margin-top: 30px;
   margin-bottom: 10px;
   text-align: justify;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   padding: 20px;
   margin-left: -5px;
 }
 

 #card-achievements-left {
   background-color: #FFFFFF;
   width: 42%;
   margin-top: 30px;
   margin-bottom: 10px;
   text-align: justify;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   padding: 20px;
   margin-right: -5px;
 }
 
 #pict-right {
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   padding: 20px;
 }
 
 #pict-left {
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   padding: 20px;
 }
 
 #judul{
   text-align: center;
   margin: 0 auto;
   margin-bottom: 20px;
 }
 
.message-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

#judul-message{
  font-size: 30px;
  color: #FFCC2E;
  background-color: #6C58FF;
  padding: 20px;
  border-radius: 50px;
  margin-left: 40%;
  margin-right: 30%;
}

form {
 background-color: #8EEBFF;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 transform: translateX(20px);
 border-radius: 50px;
 margin-right: 55px;
 width: 46%;
 padding-top: 20px;
 padding-bottom: 20px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
 display: flex;
 flex-direction: column;
 padding-bottom: 10px;
 margin-left: 25px;
}

label {
 margin-bottom: 5px;
}

input, textarea {
 padding: 8px;
 border: 1px solid #ccc;
 border-radius: 4px;
 resize: vertical;
}

button {
 align-self: flex-start;
 background-color: blue;
 color: white;
 cursor: pointer;
 margin-top: 10px;
 padding: 8px;
 border: none;
 border-radius: 4px;
}

button:hover {
 background-color: darkblue;
}

#output{
  background-color: #8EEBFF;
  width: 46%;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#output > p{
  transform: translateX(20px);
}
 
 @media only screen and (max-width: 600px) {
  nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding:0px;
 }
 
 .nav-items{
   list-style-type: none;
 }
 
 .nav-items li{
   font-size: 1px;
   display: inline;
   margin-right: 15px;
 }
 
 nav img {
   margin-left: 10px;
   max-width: 100%;
   height: 35px;
 }
 
 
 header h1 {
   text-align: left;
  }
 
 header h4{
   text-align: justify;

   font-size: 12px;
 }
 
 header img{
   width: 100%;
   height: 150px;
 }
}
