 body {
   font-family: Arial, Helvetica, sans-serif;
 }
 
 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px;
   background-color: #00B6FF;
 }
 
 .nav-items{
   list-style-type: none;
 }
 
 .nav-items li{
   font-size: 20px;
   display: inline-block;
   margin-right: 25px;
 }
 
 nav img {
   margin-left: 15px;
   max-width: 100%;
   height: 40px;
 }
 
 header{
   justify-content: center;
   background-color:#0034FF26;
 }
 
 header h1{
   text-align: center;
   margin: 0 auto;
   padding-top: 10px;
 }
 
 header h4{
   text-align: center;
   max-width:1000px;
   margin: 0 auto;
   margin-bottom: 10px;
 }
 
 header img{
   width: 100%;
   height: 400px;
   margin-bottom: 5px;
 }
 
 @media only screen and (max-width: 600px) {
   nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:0px;
 }
 
 .nav-items{
   list-style-type: none;
 }
 
 .nav-items li{
   font-size: 10px;
   display: inline;
   margin-right: 15px;
 }
 
 nav img {
   margin-left: 10px;
   max-width: 100%;
   height: 35px;
 }
 
 
 header h1 {
   text-align: left;
  }
 
 header h4{
   text-align: justify;

   font-size: 12px;
 }
 
 header img{
   width: 100%;
   height: 150px;
 }
}
